@using ScamScraper.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>ScamScraper Registration</title>
</head>
<body>
    <div class="container offset-sm-3 ">
        <div class="header">
            <h1>Register</h1>
        </div>
        <div class="main">
            <form asp-action="Register" asp-controller ="QA" method="post">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <span asp-validation-for="FirstName"></span><br>

                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <span asp-validation-for="LastName"></span><br>
                
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span><br>
                
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span><br>
                
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm">
                <span asp-validation-for="Confirm"></span><br>

                <input type="submit" value="Register" class="submit btn btn-info col-sm-2">
            </form>
            <p>Already registered? <a href="/qa/login">Login</a></p>
        </div>
    </div>
</body>
</html>